<article class="listing">
	<h3>{{thispurchase.name}}</h3>
	<table style="width: 100%;">
		<tr>
		<td>
			<div class="detail owner">
				<span>TransactionID: </span> {{thispurchase.transactionid}}
			</div>
		</td>
		<td>
			<div class="detail bedrooms">
				<span>Amount Spent: </span> {{thispurchase.dollaramount}}
			</div>
		</td>
		<td>
			<div class="detail bedrooms">
				<span>Points Granted: </span> {{thispurchase.pointsgranted}}
			</div>
		</td>
		</tr>
	</table>
</article>	