<article class="listing">
	<h3>{{tweet.name}}</h3>
	<table style="width: 100%;">
		<tr>

		<td>
			<div> {{{tweet.link}}} </div>
		</td>
		<td>
			<div class="detail owner">
				<span>TweetID: </span> {{tweet.tweetid}}
			</div>
		</td>
		<td>
			<div class="detail bedrooms">
				<span>Points Granted: </span> {{tweet.pointsgranted}}
			</div>
		</td>
		</tr>
	</table>
</article>	
