<div class="jumbo">
  <h2>About YourLoyalty</h2>
  <p>
  	YourLoyalty is important to us! Well obviously, since we built it. But no, really, your loyalty means a lot to us here at YourLoyalty.
  	We love to work on our product and iteratively make it better. If you'd like to hear more about us, feel free to follow the link below
  	to contact us.
  </p>
{{#link-to 'contact' class="button"}}
Contact
{{/link-to}}
</div>


