<div class="jumbo">
  <h2>Contact Us</h2>
  <p>YourLoyalty representatives would love to get in touch with you to answer any questions you may have, or just shoot the shit.
    We appreciate your calls so much that we might even give you some bonus points!
  </p>
  <p>
    YourLoyalty Headquarters
    <address>
      742 Evergreen Terrace<br>
      Springfield, OR 97233
    </address>
    <a href="tel:905.808.7596">+1 (905) 808-7596</a><br>
    <a href="mailto:jrforeshew@gmail.com">jrforeshew@gmail.com</a>
  </p>
  {{#link-to 'about' class='button'}}
  Found out more about us here
  {{/link-to}}
</div>